.left-sidebar {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.score-container {
}

.buttons-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.down-button-container {
  margin-left: calc(var(--thumb-length) * 0.25);
}

.anti-clockwise-button-container {
  margin-left: calc(var(--thumb-length) * 0.75);
}

.move-left-button-container {
  margin-left: var(--thumb-length);
}
