.right-sidebar {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.top-score-pause-container {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  align-self: flex-end;
}
