.round-button {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: var(--button-diameter);
  max-width: var(--button-max-diameter);
  height: var(--button-diameter);
  max-height: var(--button-max-diameter);
  transition: box-shadow var(--transition-time);
}

.light {
  box-shadow: var(--light-box-shadow);
}

.dark {
  box-shadow: var(--dark-box-shadow);
}

.round-button > * {
  width: 65px;
  height: 65px;
}
