:root {
  --scoreboard-height: 50px;
  --buttons-container-height: 50px;
  --rows: 21;
  --columns: 10;
  --sidebar-width: 75px;
  --gameboard-width: min(
    calc(
      (100vh - (var(--scoreboard-height) + var(--buttons-container-height))) /
        (var(--rows) / var(--columns))
    ),
    100vw
  );
}

@media (min-width: 640px) {
  :root {
    --gameboard-width: min(
      calc(100vh / (var(--rows) / var(--columns))),
      calc(100vw - (var(--sidebar-width) * 2))
    );
  }
}

body {
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  display: flex;
  flex-direction: column;
}

.sidebar {
  display: none;
  width: var(--sidebar-width);
}

@media (min-width: 640px) {
  .sidebar {
    display: block;
  }
}
